/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Nov, 2017, 5:20:56 PM
    Author     : Mayank
*/

.date-filter .date, .date-filter .date *{
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    height: 0;
    margin: 0;
    padding: 0;
    width: 0;   
}
.dash-cards .mb {
	font-size : 18px;
}